<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create Contact</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans">
    <link href="style.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script>
        var app = angular
            .module("myApp", []);

        app.controller("createContactController", function createContactController($scope, $http) {

            $scope.create = function (u) {
                u.user_id = sessionStorage.getItem("user_id");
                const dbuser = $http.post("/api/contact", u).then(function (response) {
                    console.log(response.data);
                    if (response.data.message == "Successfully added the contact") {
                        alert("Created contact with " + u.first_name + " Successfully");
                        window.location = "user.html";
                    }
                    else {
                        alert("Failed to create contact " + u.first_name);
                        window.location.reload(true);
                    }
                });
            }
        });
    </script>
</head>

<body ng-app="myApp">
    <div ng-controller="createContactController" style="text-align: center;" class="login-form">
        <div class="topnav" ng-init="load()">
            <a class = "active" href="user.html">Dashboard</a>
            <a href ="index.html">Log Out</a>
        </div>
        <h1 class = "pageheader">Create Contact</h1>
        <div class = "form">
            <form method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="FirstName" required="required"
                        ng-model="contact.first_name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="LastName" required="required"
                        ng-model="contact.last_name">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="Phone" required="required"
                        ng-model="contact.phone">
                </div>
                <div class="form-group">
                    <button type="submit" value="submit" name="submit" class="btn btn-primary btn-block"
                        ng-click=create(contact)>Create Contact</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    </div>
</body>

</html>